<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ChatApp</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>register.jsp</welcome-file>
    <welcome-file>chat.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>com.zoey.talkytalky.Login</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<servlet-class>com.zoey.talkytalky.Register</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ServerSocket</servlet-name>
  	<servlet-class>com.zoey.talkytalky.ServerSocket</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServerSocket</servlet-name>
  	<url-pattern>/ServerSocket</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Message</servlet-name>
  	<servlet-class>com.zoey.talkytalky.Message</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Message</servlet-name>
  	<url-pattern>/Message</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>AppDecoder</servlet-name>
  	<servlet-class>com.zoey.talkytalky.AppDecoder</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AppDecoder</servlet-name>
  	<url-pattern>/AppDecoder</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>AppEncoder</servlet-name>
  	<servlet-class>com.zoey.talkytalky.AppEncoder</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AppEncoder</servlet-name>
  	<url-pattern>/AppEncoder</url-pattern>
  </servlet-mapping>
</web-app>